aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
attrs==26.1.0
blinker==1.9.0
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
decorator==4.4.2
edge-tts==7.2.8
Flask==3.1.3
frozenlist==1.8.0
idna==3.15
ImageIO==2.37.3
imageio-ffmpeg==0.6.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
moviepy==1.0.3
multidict==6.7.1
numpy==2.4.4
pillow==11.3.0
proglog==0.1.12
propcache==0.5.2
python-dotenv==1.2.2
requests==2.34.2
tabulate==0.10.0
tqdm==4.67.3
typing_extensions==4.15.0
urllib3==2.7.0
Werkzeug==3.1.8
yarl==1.23.0
flask
gunicorn
moviepy==1.0.3
imageio
imageio-ffmpeg
edge-tts